.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #279539;
}

.paginationActive a {
  color: white;
  background-color: #bbcf60;
}

.paginationDisabled a {
  color: rgb(251, 251, 251);
  background-color: rgb(247, 3, 3);
}
